body {
  background: #d8b14d;
  text-align: center;
  font-family: Lato, sans-serif;
}
.container {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: auto;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
}
.container-item {
  width: 80vh;

  background: whitesmoke;
  margin: auto;
  margin-top: 12%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.whQuestion {
  font-size: small;
  color: #d8b14d;
  font-weight: 600;
}
.question {
  font-size: x-large;
  color: black;
  font-weight: 800;
}
button {
  cursor: pointer;
}
.answer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.answer-item {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 50vh;
  margin: auto;
  border: 1px solid #252525;
  border-radius: 20px;
  background-color: #eeeeee;
  margin-top: 5%;
  padding: 1%;
  font-size: small;
  color: black;
  font-weight: 500;
}
.answer-item:active {
  background-color: grey;
}
.next-question {
  width: 30%;
  height: auto;
  padding: 2%;
  margin-top: 10%;
  background-color: #d8b14d;
  border: 2px solid #d8b14d;
  border-radius: 5px;
  color: whitesmoke;
  margin-bottom: 15%;
}
.previous-question {
  border: #eeeeee;
  border-radius: 5px;
  padding: 1%;
  color: rgb(88, 83, 83);
  background-color: #eeeeee;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 600;
}
input {
  justify-content: center;
  margin-right: 2%;
}
.steps {
  width: 95%;
  height: 1vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 15px;
}

.step-item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 25%;
  height: 3px;
  background-color: #eeeeee;
  margin-left: 1%;
}
.active {
  border: 1px solid #d8b14d;

  background-color: #d8b14d;
}
.sonuc {
  width: 30vh;
  height: 50vh;
  border: 2px solid grey;
  border-radius: 10px;
  margin: auto;
  padding: 20% 50%;
}
.result {
  margin: auto;
  margin-bottom: 10%;
  padding: 20%;
  font-size: 20px;
  width: 50%;
  height: 10vh;
}
.login{
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
input{
  border: 2px solid #d8b14d;
  border-radius: 8px;
  margin-top: 5%;
  padding: 5px;
}
.kayit{
  border: 2px  #d8b14d;
  border-radius: 8px;
  margin-top: 5%;
  padding: 10px 20px;
  color: whitesmoke;
  background-color: #634908 ;
}
