body {
  text-align: center;
  font-family: Lato, sans-serif;
  background: #b7c4cf;
}
.container {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: auto;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
}
.container-item {
  width: 80vh;

  background: #d7c0ae;
  margin: auto;
  margin-top: 4%;
  border: 2px solid #d7c0ae;
  border-radius: 15px;
}
.whQuestion {
  font-size: small;
  color: #d7c0ae;
  font-weight: 600;
}
.question {
  font-size: x-large;
  color: black;
  font-weight: 800;
}
button {
  cursor: pointer;
}
.answer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.answer-item {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 50vh;
  margin: auto;
  border: 1px solid #252525;
  border-radius: 20px;
  background-color: #eeeeee;
  margin-top: 5%;
  padding: 1%;
  font-size: small;
  color: black;
  font-weight: 500;
}
.answer-item:active {
  background-color: grey;
}
.next-question {
  width: 30%;
  height: auto;
  padding: 2%;
  margin-top: 10%;
  background-color: #634908;
  border: 2px solid #634908;
  border-radius: 5px;
  color: whitesmoke;
  margin-bottom: 15%;
}
.previous-question {
  border: #eeeeee;
  border-radius: 5px;
  padding: 1%;
  color: rgb(88, 83, 83);
  background-color: #eeeeee;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 600;
}
input {
  justify-content: center;
  margin-right: 2%;
}
.steps {
  width: 95%;
  height: 1vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 15px;
}

.step-item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 25%;
  height: 3px;
  background-color: #eeeeee;
  margin-left: 1%;
}
.active {
  border: 1px solid #d7c0ae;

  background-color: #d7c0ae;
}
.sonuc {
  width: 30vh;
  height: 50vh;
  border: 2px solid grey;
  border-radius: 10px;
  margin: auto;
  padding: 20% 50%;
}
.result {
  margin: auto;
  margin-bottom: 10%;
  padding: 2% 15%;
  font-size: 20px;
  width: 50%;
  height: auto;
}
.login {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3%;
  border: 3px solid #d7c0ae;
  border-radius: 15px;
  background-color: #d7c0ae;
}
input {
  border: 2px solid #d7c0ae;
  border-radius: 8px;
  margin-top: 5%;
  padding: 5px;
}
.kayit {
  border: 2px #d7c0ae;
  border-radius: 8px;
  margin-top: 5%;
  padding: 10px 20px;
  color: whitesmoke;
  background-color: #634908;
}
.arrangement {
  width: 65%;
  height: auto;
  margin: auto;
  background-color: #d7c0ae;
  border: 4px solid #d7c0ae;
  border-radius: 8px;

  color: whitesmoke;
  text-decoration: none;
}

.arrangement-item {
  margin: 0;
  margin-bottom: 2%;
  border-radius: 5px;
  text-decoration: none;
}
nav {
  display: flex;
  margin: 0;
  width: 80%;
  height: 50px;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  border-radius: 3px;
  background: #eee3cb;
}
.nav-link {
  text-decoration: none;
  color: #967e76;
  font-weight: 900;
  margin: 0 5%;
}
.appp {
  margin: 0 2%;
  padding: 2%;
  border-radius: 5px;
}
.pushQue {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #d7c0ae;
  border-radius: 5px;
  margin-top: 3%;
  background-color: #d7c0ae;
}
.pushQue-btn {
  width: 20%;
  height: auto;
  padding: 1%;
  margin-top: 2%;
  background-color: #634908;
  border: 2px solid #634908;
  border-radius: 15px;
  color: whitesmoke;
  margin-bottom: 2%;
  margin-right: 2%;
}
.refresh-btn {
  width: 30%;
  height: auto;
  padding: 2%;
  margin-top: 10%;
  background-color: #634908;
  border: 2px solid #634908;
  border-radius: 5px;
  color: whitesmoke;
  margin-bottom: 15%;
}
.questions {
  width: 80%;
  margin: auto;
}
.questions-item {
  display: flex;
  flex-direction: row;
  border: 2px solid #d7c0ae;
  border-radius: 5px;
  margin-bottom: 2%;
  background-color: #d7c0ae;
}
.buttons {
  width: 250px;
  margin: auto;
  margin-right: 1%;
}
.change-btn {
  width: 30%;
  height: 50%;
  margin: auto;
  background-color: #634908;
  border: 2px solid #634908;
  border-radius: 5px;
  color: whitesmoke;
  margin-right: 2%;
  text-decoration: none;
  font-size: 12px;
}
.remove-btn {
  width: 30%;
  height: 50%;
  margin: auto;
  background-color: #634908;
  border: 2px solid #634908;
  border-radius: 5px;
  color: whitesmoke;
}
.questions-item-p {
  font-size: 12px;
  margin-left: 2%;
  color: #634908;
}
.answer-radio-btn{
  display: flex;
  flex-direction: row-reverse;
}
